@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.section-header .section-inner {
  padding: 20px 0px 20px; }

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo-link {
  display: inline-block;
  border-radius: 100px; }

.logo {
  background: #6188ff;
  width: 24px;
  height: 24px;
  border-radius: 100px; }

.nav {
  margin-left: 72px; }

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 30px; }
  .nav-wrapper__item-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #697ca6;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 10px; }
    .nav-wrapper__item-link--active {
      font-weight: 700;
      color: #6188ff; }
    .nav-wrapper__item-link:hover {
      color: #6188ff; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-wrapper__item + .social-wrapper__item {
    margin-left: 30px; }
  .social-wrapper__item-link {
    padding: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .social-wrapper__item-link path {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .social-wrapper__item-link:hover path {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      fill: #6188ff; }
    .social-wrapper__item-link svg {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }

.section-footer {
  border-bottom: none; }
  .section-footer .section-inner {
    padding: 60px 0px 60px; }

.copyright {
  color: #AEB8D0;
  font-family: 'Quicksand', sans-serif;
  margin-top: 25px;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-weight: 500;
  margin-left: 106px; }

.section-hero-image {
  background: #f4f7ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f7ff), to(#f1f5ff));
  background: linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f7ff",endColorstr="#f1f5ff",GradientType=1);
  position: relative; }

.dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.slider-hero-image__item {
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  background: url(../img/hero-image/1-slider-bg.png) center bottom/cover no-repeat; }
  .slider-hero-image__item-content h2 {
    font-weight: 300; }
    .slider-hero-image__item-content h2 span {
      font-weight: 500; }
  .slider-hero-image__item-content .text {
    line-height: 29px;
    letter-spacing: 0.03em;
    width: 50%;
    margin: 0 auto; }
  .slider-hero-image__item-content a {
    display: inline-block; }
  .slider-hero-image__item-content img {
    border-radius: 100%;
    -webkit-box-shadow: 0px 10px 50px #c9d1e7;
            box-shadow: 0px 10px 50px #c9d1e7; }
  .slider-hero-image__item-content .play-button {
    margin-top: 20px; }

.section-customers .section-inner {
  padding: 60px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section-customers .section-inner a {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: 0.3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block; }
    .section-customers .section-inner a:hover {
      -webkit-filter: none;
              filter: none;
      opacity: 1; }

.section-plan-and-manage {
  background: #f5f8ff;
  position: relative;
  overflow: hidden; }
  .section-plan-and-manage .aside-image {
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    max-width: 853px; }
  .section-plan-and-manage .section-inner {
    padding: 205px 0; }
  .section-plan-and-manage__content h5 {
    margin-bottom: 28px; }
  .section-plan-and-manage__content h3 {
    font-weight: 300;
    margin-bottom: 28px; }
    .section-plan-and-manage__content h3 span {
      font-weight: 500; }
  .section-plan-and-manage__content .text {
    line-height: 29px;
    letter-spacing: 0.03em;
    max-width: 42%;
    margin-bottom: 48px; }
  .section-plan-and-manage__content .btn--secondary {
    background: #4c85ff url(../img/icons/Polygon.svg) top 17px right 23px no-repeat;
    padding: 13px 37px 13px 25px; }
    .section-plan-and-manage__content .btn--secondary:hover {
      background: #2d61cf url(../img/icons/Polygon.svg) top 17px right 10px no-repeat; }
  .section-plan-and-manage__content .btn {
    margin-left: 0; }

.section-features {
  background: url(../img/features/bg-clouds.svg) center center/contain no-repeat; }
  .section-features h4 {
    font-weight: 500; }

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 105px; }
  .features-list__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    position: relative; }
    .features-list__item:not(:first-child):before {
      content: "";
      top: 55%;
      right: 108%;
      background: #dae4fe;
      height: 1px;
      width: 28px;
      position: absolute; }
    .features-list__item-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto 32px;
      width: 68px;
      height: 68px;
      border-radius: 100%;
      background: #f1f5ff; }
    .features-list__item-title {
      font-weight: 700;
      font-size: 15px;
      color: #4074f8;
      margin-bottom: 28px; }
    .features-list__item-text {
      line-height: 22px; }

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .btns .btn {
    margin-left: 0;
    display: inline-block; }

.or-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  margin: 0 16px; }
  .or-block::before, .or-block::after {
    content: "";
    height: 1px;
    width: 15px;
    background: #dae4fe; }
  .or-block::before {
    margin-right: 16px; }
  .or-block::after {
    margin-left: 16px; }

.section-stats {
  background: #e9efff; }
  .section-stats .section-inner {
    padding: 60px 0px 60px; }

.section-blog {
  background: #f5f8ff; }

.section-quotes {
  background: #eaf0ff; }

.section-get-started {
  background: #6888ff; }

.section-newsletter {
  background: #fcfdff; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #8d96bd;
  font-size: 14px; }

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dots__item {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #d1d6e3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer; }
    .dots__item--active {
      background: #5283ff; }
    .dots__item + .dots__item {
      margin-left: 12px; }

.section-outer {
  border-bottom: 1px solid #d8e3fe; }

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 120px 0px 120px; }
  .section-inner--wide {
    max-width: 1200px; }

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  padding: 12px 16px;
  border: 0;
  border-radius: 2px;
  background: none;
  color: #3a79ff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .btn--primary {
    background: #d2e1ff;
    color: #3a79ff;
    margin-left: 36px; }
    .btn--primary:hover {
      background: #bbd0ff; }
  .btn--danger {
    background: #ffd7d7;
    color: #d43f3f; }
    .btn--danger:hover {
      background: #fabebe; }
  .btn--secondary {
    background: #4c85ff;
    color: #fff;
    margin-left: 36px;
    padding: 13px 25px; }
    .btn--secondary:hover {
      background: #2d61cf; }
  .btn--no-bg {
    color: #adb4d2;
    margin-left: 36px;
    border: 1px solid #d1d1E4; }
    .btn--no-bg:hover {
      background: #adb4d2;
      color: #F6F8FF; }

.btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .btn-group .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .btn-group .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #3d4f9f; }

h1, h2 {
  font-size: 48px;
  margin-bottom: 28px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px;
  margin-bottom: 80px; }

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin-bottom: 16px; }

.ta-c {
  text-align: center; }
