/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
// html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;max-width: 100%;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@import "media.scss";
@import "mixin.scss";
@import "variables.scss";


// components import
@import "components/header.scss";
@import "components/footer.scss";
@import "components/1-hero-image.scss";
@import "components/2-customers.scss";
@import "components/3-plan-and-manage.scss";
@import "components/4-features.scss";
@import "components/5-stats.scss";
@import "components/6-blog.scss";
@import "components/7-quotes.scss";
@import "components/8-faq.scss";
@import "components/9-get-started.scss";
@import "components/10-newsletter.scss";

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	@include roboto;
	color: #8d96bd;
	font-size: 14px;
}
.dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;

	&__item  {
		width: $base * 3;
		height: $base * 3;
		border-radius: 100%;
		background: #d1d6e3;
		transition: $transiton;
		cursor: pointer;

		&--active {
			background: #5283ff;
		}
		& + & {
			margin-left: $base * 3;
		}
	}
}
.section-outer {
	border-bottom: 1px solid $color-divider;
}
.section-inner {
	max-width: 900px;
	margin: 0 auto;
	padding: $padding-vertical 0px $padding-vertical;
	&--wide {
		max-width: 1200px;
	}
}
.btn {
	@include quicksand;
	font-weight: $fw-bold;
	font-size: $fz-sm;
	margin: 0;
	padding: $base * 3 $base * 4;
	border: 0;
	border-radius: 2px;
	background: none;
	color: #3a79ff;
	transition: $transiton;

	&--primary {
		background: #d2e1ff;
		color: #3a79ff;
		margin-left: $base * 9;

		&:hover {
			background: #bbd0ff;
		}
	}
	&--danger {
		background: #ffd7d7;
		color: #d43f3f;

		&:hover {
			background: #fabebe;
		}
	}

	&--secondary {
		background: #4c85ff;
		color: #fff;
		margin-left: $base * 9;
		padding: 13px 25px;

		&:hover {
			background: #2d61cf;
		}
	}

	&--no-bg {
		color: #adb4d2;
		margin-left: $base * 9;
		border: 1px solid #d1d1E4;

		&:hover {
			background: #adb4d2;
			color: #F6F8FF;
		}
	}
}
.btn-group {
	display: inline-flex;
	
	.btn:nth-child(1) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.btn:nth-child(2) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
h1, h2, h3, h4, h5, h6 {
	@include quicksand;
	padding: 0;
	margin: 0;
	font-weight: $fw-regular;
	color: #3d4f9f;
}
h1, h2 {
	font-size: 48px;
	margin-bottom: $base * 7;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 24px;
	margin-bottom: $base * 20;
	font-weight: $fw-medium;
}
h5 {
	@include roboto;
	font-size: 10px;
	margin-bottom: $base * 4;
}
.ta-c {
	text-align: center;
}


