$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-sm: 12px;
$fz-md: 15px;

$padding-vertical: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$color-divider: #d8e3fe;
$transiton: all 0.2s ease;

$color-primary: #697ca6;
$color-secondary: #6188ff;