.section-customers {
    .section-inner {
        padding: $padding-vertical-sm 0px $padding-vertical-sm;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            filter: grayscale(100%);
            opacity: 0.3;
            transition: $transiton;
            display: inline-block;

            img {
                max-width: 117px;
                @media (max-width: $breakepoint-lg-max) {
                        max-width: 90px;
                }
                @media (max-width: $breakepoint-sm-max) {
                    max-width: 117px;
                    margin: 0 10px 30px;
                }
            }

            &:hover {
                filter: none;
                opacity: 1;
            }
        }

        @media (max-width: $breakepoint-lg-max) {
            padding: $padding-vertical-sm/2 0px $padding-vertical-sm/2;
            }
        @media (max-width: $breakepoint-sm-max) {
            flex-wrap: wrap;
            justify-content: center;

            a {
                flex-basis: 45%;
                text-align: center;
            }
        }
    }
}

