.section-plan-and-manage {
    background: #f5f8ff;
    position: relative;
    overflow: hidden;
    .aside-image {
        position: absolute;
        top: $base * 40;
        left: 50%;
        max-width: $base * 163;
        filter: drop-shadow(0px 40px 60px #cbd3e6);
    }
    .section-inner {
        padding: $base * 51 0;
    }
    &__content {
        h2 {
            margin-bottom: $base * 7;
        }
        .section-subtitle {
            font-size: $fz-xl;
            font-weight: $fw-light;
            margin-bottom: $base * 7;

            span {
                font-weight: $fw-medium; 
            }
        }

        .text {
            line-height: 29px;
            letter-spacing: 0.03em;
            max-width: 42%;
            margin-bottom: $base * 12;
        }
        .btn--secondary {
            background: #4c85ff url(../img/icons/Polygon.svg) top 17px right 23px no-repeat;
            padding: 13px 37px 13px 25px;
            &:hover {
                background: #2d61cf url(../img/icons/Polygon.svg) top 17px right 10px no-repeat;
            }
        }
        .btn {
            margin-left: 0;
        }
    }
}
