.section-features {
    background: url(../img/features/bg-clouds.svg) center center / contain no-repeat;
    .section-subtitle {
        font-size: $fz-l;
        margin-bottom: $base * 20;
        font-weight: $fw-medium;
        @media (max-width: $breakepoint-lg-max) {
            margin-bottom: $base * 10;
            }
    }
}
.features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: $base * 26;
    @media (max-width: $breakepoint-md-max) {
        margin-bottom: $base * 13;
        justify-content: center;
        }
		&__item {
            flex-basis: 20%;
            position: relative;
            @media (max-width: $breakepoint-md-max) {
                flex-basis: 40%;
                margin: 20px;
                }
            @media (max-width: $breakepoint-sm-max) {
                    flex-basis: 100%;
                    margin: 20px;
                    }
            &:not(:first-child):before {
                content: "";
                top: 55%;
                right: 108%;
                background: #dae4fe;
                height: 1px;
                width: $base * 7;
                position: absolute;
                @media (max-width: $breakepoint-md-max) {
                    display: none;
                }
            }

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto $base * 8;
                width: $base * 17;
                height: $base * 17;
                border-radius: 100%;
                background: #f1f5ff;
                @media (max-width: $breakepoint-md-max) {
                    margin-bottom: $base * 5;
                    width: $base * 13;
                    height: $base * 13;
                }
            }

            &-title {
                @include roboto;
                font-weight: $fw-bold;
                font-size: $fz-s;
                color: #4074f8;
                margin-bottom: $base * 7;
                @media (max-width: $breakepoint-md-max) {
                    margin-bottom: $base * 4;
                }
            }
    
            &-text {
                line-height: 22px;
            }
		}	
}
.btns {
    display: flex;
    justify-content: center;
    text-align: center;
    .btn {
        margin-left: 0;
        display: inline-block;
    }

    @media (max-width: $breakepoint-sm-max) {
        flex-direction: column;
    }
}
.or-block {
    display: inline-flex;
    align-items: center;
    font-size: $fz-xs;
    font-weight: $fw-medium;
    margin: 0 $base * 4;

    &::before, 
    &::after {
        content: "";
        height: 1px;
        width: $base * 4;
        background: #dae4fe;
    }
    &::before {
        margin-right: $base * 4;
    }
    &::after {
        margin-left: $base * 4;
    }
    @media (max-width: $breakepoint-sm-max) {
        margin: 15px auto;
    }
}
