.section-quotes {
    background: rgb(234,240,255);
    background: -moz-linear-gradient(180deg, rgba(234,240,255,1) 0%, rgba(246,249,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(234,240,255,1) 0%, rgba(246,249,255,1) 100%);
    background: linear-gradient(180deg, rgba(234,240,255,1) 0%, rgba(246,249,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaf0ff",endColorstr="#f6f9ff",GradientType=1);

    .section-inner {
        display: flex;
        justify-content: space-between;
    }

    &__left,
    &__right {
        flex-basis: 47%;
        margin: auto 0;
    }

    &__left {
        padding-bottom: 30px;
        h5 {
            margin-bottom: 30px;
        }
        h3 {
            margin-bottom: 20px;
            font-weight: $fw-medium;
        }
        .text {
            line-height: 23px;
            letter-spacing: 0.03em;
            max-width: 324px;
        }
    }

    &__right {
        flex-basis: 50%;
        margin-left: 4%;

        .dots__item {
            width: $base * 2;
            height: $base * 2;
        }
    }
}
.slider-quotes {
    margin-bottom: 80px;

    &__item {
        position: relative;
        padding: 40px 70px 52px;
        border: 1px solid #d8e3fe;
        background: #fff;
        box-shadow: 0px 5px 50px #dde3f3; 

        &-text {
            font-size: $fz-md;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #676F95;
        }
        &-photo {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: $base * 16;
            height: $base * 16;
            border-radius: 100%;
            overflow: hidden;
            background-color: #fff;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.text {
}
