.section-get-started {
    background: #718ffb url(../img/get-started/clouds.svg) center center no-repeat;
    text-align: center;
    color: #fff;

    h2,h5{color: #fff;}
    h2 {
        font-weight: $fw-light;
        span {
            font-weight: $fw-medium;
        }
    }
    .text {
        margin: 0 auto 50px;
        line-height: 29px;
        letter-spacing: 0.03em;
        max-width: 712px;
    }
        .btn {
            margin-left: 0;
        }
}