.section-get-started {
    background: #456dfd url(../img/get-started/clouds.svg) center center no-repeat;
    text-align: center;
    color: #fff;
    @media (max-width: $breakepoint-xl-max) {
        background-size: contain;
    }

    h2,.section-subtitle{color: #fff;}
    .section-subtitle {
        font-weight: $fw-light;
        span {
            font-weight: $fw-medium;
        }
    }
    .text {
        margin: 0 auto $base*12;
        line-height: 29px;
        letter-spacing: 0.03em;
        max-width: $base*178;
    }
        .btn {
            margin-left: 0;
        }
}