.section-footer {
    border-bottom: none;
    .section-inner {
        padding: $padding-vertical-sm 0px $padding-vertical-sm;
    }
}
.copyright {
    color: #AEB8D0;
    @include quicksand;
    margin-top: $base*6;
    letter-spacing: 0.05em;
    font-size: $fz-xs;
    font-weight: $fw-medium;
    margin-left: $base * 26.5;
}