.section-header {
    .section-inner {
        padding: $padding-vertical-xs 0px $padding-vertical-xs;
    }
}
.main-navigation {
    display: flex;
    align-items: center;
}
.logo-link {
    display: inline-block;
    border-radius: 100%;
}
.logo {
    background: $color-secondary;
    width: $base * 6;
    height: $base * 6;
    border-radius: 100%;
}
.nav {
    margin-left: $base * 18;
}
.nav-wrapper {
    display: flex;

    &__item {
        & + & {
            margin-left: $base * 7.5;
        }
        &-link {
            position: relative;
            @include quicksand;
            font-size: $fz-sm;
            font-weight: $fw-medium;
            letter-spacing: 0.05em;
            color: $color-primary;
            transition: $transiton;
            padding: 10px;
            &::before {
                content: '';
                bottom: -3px;
                left: 0;
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $color-secondary;
                transition: $transiton;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-secondary;
            }

            &:hover {
                color: $color-secondary;
            }
            &:hover:before {
                width: 100%;
            }
        }
    }

}
.socials {
    display: flex;
    margin-left: auto;
}
.social-wrapper {
    display: flex;
    align-items: center;

		&__item {
            & + & {
                margin-left: $base * 7.5;
            }
            &-link {
                padding: $base*2.5;
                transition: $transiton;
                path {
                    transition: $transiton;
                }
                &:hover path{
                    transition: $transiton;
                    fill: $color-secondary;
                }
                svg {
                    transition: $transiton;
                }
            }
		}
}


